@import "https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap";
@import "https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap";
.navigation {
  display: grid;
  grid-template-columns: 6fr 2fr;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: #1a1a2e;
}
.navigation a {
  text-decoration: none;
}
.navigation a:hover {
  transition: 1s;
  transform: skew(-2deg);
  color: #e94560;
  transition: 0.5s;
  cursor: pointer;
}
.navigation__logo-con {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 2rem;
  margin: 10px;
}
.navigation__logo-con a {
  font-size: 45px;
}
.navigation__links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.navigation__links a {
  font-size: 20px;
  margin: 0 20px;
}

.hidden {
  transform: translateY(-7rem);
  transition: 1s;
}

.visible {
  transform: translateY(0);
  transition: 1s;
}

@media only screen and (max-width: 600px) {
  .navigation {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .navigation a {
    margin-top: 0.5rem;
  }
  .navigation__logo-con {
    margin: 10px;
  }
  .navigation__links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .navigation__links a {
    font-size: 1rem;
    margin: 0 10px;
  }
}
#skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25%;
}
#skills ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#skills ul li {
  margin: 20px;
  list-style: none;
  text-align: center;
}

@media only screen and (max-width: 400px) {
  #skills ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
#projects {
  text-align: center;
}
#projects h3 {
  margin-bottom: 5rem;
}
#projects section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}
#projects .projects__container {
  margin: 20px;
  border: 5px solid white;
  border-radius: 20px;
  width: 25rem;
  min-height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#projects .projects__container > * {
  margin: 0.3rem;
}
#projects .projects__container img {
  width: 18rem;
  min-height: 18rem;
  border: 1px solid white;
  border-radius: 20px;
}
#projects .projects__container p {
  font-size: 15px;
}
#projects .projects__container .icon-container a {
  text-decoration: none;
}

@media only screen and (min-width: 1025px) and (max-width: 1400px) {
  #projects section {
    grid-template-columns: 1fr 1fr 1fr;
  }
  #projects .projects__container {
    width: 80%;
    min-height: 400px;
  }
  #projects .projects__container img {
    width: 80%;
    min-height: 250px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  #projects section {
    grid-template-columns: 1fr 1fr;
  }
  #projects .projects__container {
    width: 80%;
    min-height: 400px;
  }
  #projects .projects__container img {
    width: 80%;
    min-height: 250px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  #projects section {
    grid-template-columns: 1fr;
  }
  #projects .projects__container {
    width: 80%;
    min-height: 450px;
  }
  #projects .projects__container img {
    width: 80%;
    min-height: 300px;
  }
  #projects .projects__container {
    max-width: 400px;
  }
  #projects .projects__container img {
    max-width: 400px;
  }
}
@media only screen and (min-width: 1px) and (max-width: 480px) {
  #projects section {
    grid-template-columns: 1fr;
  }
  #projects .projects__container {
    width: 80%;
    min-height: 400px;
  }
  #projects .projects__container img {
    width: 80%;
    min-height: 250px;
  }
}
#about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#about div {
  width: 50rem;
  min-height: 20rem;
}
#about div > * {
  margin: 2rem;
}

#contact {
  width: 100vw;
  min-height: 4rem;
  padding: 10px;
}
#contact div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#contact div > * {
  margin: 10px 0;
}
#contact div ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#contact div ul li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0 20px;
}
#contact div ul li > * {
  margin: 0 5px;
}

@media only screen and (max-width: 400px) {
  #contact div ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #contact div ul li {
    margin: 5px 0;
  }
  #contact div ul li > * {
    margin: 0 5px;
  }
}
* {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 4rem;
  font-size: 30px;
}
body header {
  height: 4rem;
  width: 100vw;
}
body footer {
  height: 1.7rem;
  width: 100vw;
}
body .container {
  width: 100%;
  min-height: auto;
}
body .container__section {
  padding: 5rem 0;
  width: 100%;
  min-height: 100vh;
}
body .container__section--primary-color {
  background-color: #16213e;
}
body .container__section--secondary-color {
  background-color: #0f3460;
}
body .container #home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body footer {
  background-color: #e94560;
  text-align: center;
  font-size: 20px;
}

@media only screen and (min-width: 1025px) and (max-width: 1400px) {
  body {
    font-size: 27.5px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  body {
    font-size: 25px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  body {
    font-size: 22.5px;
  }
  body header {
    height: 7rem;
    width: 100vw;
  }
  body footer {
    height: 1.7rem;
    width: 100vw;
  }
}
@media only screen and (min-width: 1px) and (max-width: 480px) {
  body {
    font-size: 20px;
  }
  body header {
    height: 7rem;
    width: 100vw;
  }
  body footer {
    height: 1.7rem;
    width: 100vw;
  }
}
