@use "../variables";
@use "../mixins";
#contact {
    @include mixins.widthHeight(100vw, 4rem);
    padding: 10px;
    background-image: url("../portfolio/assets/wallpaper.png"),
        url("./assets/wallpaper.png");
    background-size: contain;
    background-attachment: fixed;
    div {
        @include mixins.displayFlex(column, center, center);
        > * {
            margin: 10px 0;
        }
        ul {
            @include mixins.displayFlex(row, center, center);
            li {
                @include mixins.displayFlex(row, center, center);
                list-style: none;
                margin: 0 20px;
                > * {
                    margin: 0 5px;
                }
            }
        }
    }
}
@media only screen and (max-width: 400px) {
    #contact {
        div {
            ul {
                @include mixins.displayFlex(column, center, center);
                li {
                    margin: 5px 0;
                    > * {
                        margin: 0 5px;
                    }
                }
            }
        }
    }
}
