@use "../variables";
@use "../mixins";
#projects {
    text-align: center;

    h3 {
        margin-bottom: 5rem;
    }
    section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
    }
    .projects__container {
        margin: 20px;
        border: 5px solid white;
        border-radius: variables.$border-radius;
        @include mixins.widthHeight(25rem);
        @include mixins.displayFlex(column, center, center);
        > * {
            margin: 0.3rem;
        }
        img {
            @include mixins.widthHeight(18rem, 18rem);
            border: 1px solid white;
            border-radius: variables.$border-radius;
        }
        p {
            font-size: 15px;
        }
        .icon-container {
            a {
                text-decoration: none;
            }
        }
    }
}
// for screens between 1025px to 1400px
@include mixins.doubleXLMediaQuery {
    @include mixins.projectMediaQuerys(1fr 1fr 1fr, 80%, 400px, 80%, 250px);
}
// for screens between 769px to 1024px
@include mixins.largeMediaQuery {
    @include mixins.projectMediaQuerys(1fr 1fr, 80%, 400px, 80%, 250px);
}
// for screens between 481px to 768px
@include mixins.mediumMediaQuery {
    @include mixins.projectMediaQuerys(1fr, 80%, 450px, 80%, 300px);
    #projects {
        .projects__container {
            max-width: 400px;
            img {
                max-width: 400px;
            }
        }
    }
}
// for screens between 1px to 480px
@include mixins.smallMediaQuery {
    @include mixins.projectMediaQuerys(1fr, 80%, 400px, 80%, 250px);
}
