@use "../variables";
@use "../mixins";

#skills {
    @include mixins.displayFlex(column, center, center);
    h3 {
        margin-bottom: 5rem;
    }
    ul {
        @include mixins.displayFlex(row, center, center);
        flex-wrap: wrap;
        li {
            margin: 20px;
            list-style: none;
            text-align: center;
            .devicon {
                font-size: 10rem;
            }
        }
    }
}
@media only screen and (max-width: 400px) {
    #skills {
        ul {
            @include mixins.displayFlex(column, center, center);
        }
    }
}
